.catCircle {
  position: relative;
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
  width: 50%;
  height: 70%;
  padding-bottom: 3%;
  margin: 1px;
}

.catCircleSunk {
  position: relative;
  background-image: url(../assets/cats-left-icon.png);
  border: 3px solid black;
  border-radius: 50%;
  width: 50%;
  height: 70%;
  padding-bottom: 3%;
}

.circleCont {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 50px;
  width: 50%;
}

.catsLeftCont {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.catsLeftHeader {
  margin-bottom: 0%;
  background-color:bisque;
}