.waiting-message {
  background-color: rgb(161, 212, 212);
  padding: 10px;
  font-size: larger;
  width: 225px;
  text-align: center;
  margin-left: 10px;
}

.sunk-ship-message {
  background-color: #d68696;
  padding: 10px;
  font-size: larger;
  width: 225px;
  text-align: center;
}
