@import url("https://fonts.googleapis.com/css?family=Lato:300");

.waiting-message {
  background-color: rgb(134, 155, 99);
  padding: 10px;
  font-size: larger;
  width: fit-content;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  text-wrap: nowrap;
}

.sunk-ship-message {
  background-color: rgb(105, 120, 77);
  padding: 10px;
  font-size: larger;
  width: fit-content;
  text-align: left;
  text-wrap: nowrap;
}

.chatWindow {
  background-color: white;
  height: 420px;
  width: 350px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  overflow: auto;
  overflow-wrap: break-word;
  list-style: none;
  padding-left: 0;
}

.chatComp {
  background-color: bisque;
  height: 520px;
  width: 400px;
  border: 10px double rgb(84, 127, 84);
  border-width: 5px;
  border-style: solid;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.chatWindow {
  border: 10px double rgb(84, 127, 84);
}

#chat-h2 {
  border: 10px double rgb(84, 127, 84);
  margin-top: 25px;
}

.map-h2s {
  border: 10px double rgb(84, 127, 84);
}

/* WinLoseScreen */
#win-lose-msg-cont {
  display: flex;
  justify-content: center;
}

#winner-msg, #loser-msg {
  background-color: rgb(134, 155, 99);
  padding: 10px;
  font-size: x-large;
  width: fit-content;
  text-align: center;
  margin-left: 10px;
}

.returnButton {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 3px;
}

.returnButton:hover{
  background-color: #F082AC;
}

.returnButton:hover {
  background-color: #fff;
}

.returnButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.winLoseMessageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
}

.gradient-border {
  --border-width: 3px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      90deg,
      rgb(134, 155, 99),
      white
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 3s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
