.waiting-message {
  background-color: rgb(134, 155, 99);
  padding: 10px;
  font-size: larger;
  width: fit-content;
  text-align: left;
  margin-left: 10px;
  text-wrap: nowrap;
}

.sunk-ship-message {
  background-color: rgb(105, 120, 77);
  padding: 10px;
  font-size: larger;
  width: fit-content;
  text-align: left;
  text-wrap: nowrap;
}

.chatWindow {
  background-color: white;
  height: 420px;
  width: 150px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  overflow: auto;
  overflow-wrap: break-word;
  list-style: none;
  padding-left: 0;
}

.chatComp {
  background-color: bisque;
  height: 520px;
  width: 200px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/* WinLoseScreen */
#win-lose-msg-cont {
  display: flex;
  justify-content: center;
}

#winner-msg, #loser-msg {
  background-color: rgb(134, 155, 99);
  padding: 10px;
  font-size: x-large;
  width: fit-content;
  text-align: center;
  margin-left: 10px;
}