body {
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
  background-image: url("../assets/floor1.jpg");
}

#long-cat-logo {
  width: 500px;
  margin-bottom: 10px;
}

#h1-battle-cats {
  text-align: center;
  font-size: xx-large;
  padding: 10px;
  background-color: bisque;
  border-radius: 30px;
  border: 10px double rgb(84, 127, 84);
  margin: 10px;
  width: 250px;
}

#message-container {
  display: flex;
  justify-content: center;
}

#chat-input {
  margin-left: 22px;
}

#send-messg-btn {
  display: flex;
  justify-content: center;
  margin: 22px;
  margin-top: 5px;
  height: 50px;
  width: 150px;
  text-wrap: nowrap;
  text-align: left;
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: small;
}

.map-h2s {
  text-align: center;
  font-size: x-large;
  background-color: bisque;
  padding: 10px;
}

.waitH3 {
  font-size: large;
  background-color: rgb(105, 120, 77);
  height: fit-content;
  text-wrap: wrap;
  margin-top: 44px;
  margin-left: 250px;
  text-align: center;
  padding: 10px;
}

#double-grid-container {
  display: flex;
  justify-content: flex-end;
  justify-content: space-evenly;
}

.grid-container {
  height: auto;
  width: 520px;
  border-radius: 30px;
  margin: 20px;
}

#opp-rug {
  background-image: url("../assets/rug1.png");
  position: relative;
}

#my-rug {
  background-image: url("../assets/rug2.jpg");
  position: relative;
}

.cat-image {
  position: absolute;
  z-index: 10;
  background-size: cover;
}

.grid-row {
  text-align: center;
  margin: auto;
  gap: 0px;
  display: grid;
  grid-template-columns: repeat(10, 0fr);
  grid-auto-rows: minmax(10px);
  grid-auto-columns: 10;
}

.grid-item {
  padding: 0;
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  color: rgb(8, 4, 15);
}

#end-turn-btn-container {
  height: 740.53px;
  width: 179.73px;
}

#end-turn-btn {
  width: auto;
  margin-top: 350px;
  text-wrap: nowrap;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-family: "Short Stack", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.grid-item:hover {
  background-color: rgb(174, 174, 174);
}

.selected-grid-item {
  padding: 0;
  height: 50px;
  width: 50px;
  border: 1px solid grey;
  background-color: grey;
}

.grid-item {
  background-color: #fbeee0;
}

.clear {
  background-color: transparent;
  background-image: none;
}

.miss {
  background-color: rgba(240, 255, 255, 0);
  pointer-events: none;
}

.carrier {
  /* background-color: rgb(252, 189, 0); */
}

.battleship {
  /* background-color: rgb(98, 158, 38); */
}

.cruiser {
  /* background-color: rgba(9, 46, 230); */
}

.sub {
  /* background-color: rgb(172, 53, 150); */
}

.destroyer {
  /* background-color: rgb(239, 239, 16); */
}

.hit {
  background-color: rgba(255, 0, 0, 0);
  background-image: url(../assets/pet-cat-icon.png);
  pointer-events: none;
}

.hit-and-sunk {
  background-image: none !important;
}

.pet {
  z-index: 11;
}

.ship-container {
  background-color: bisque;
  padding: 20px;
  width: 680px;
  margin: 20px;
  display: inline-block;
}

.ship-container > * {
  margin: 0px 10px;
}

.disconnectButton {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 3px;
}

.disconnectButton:hover{
  background-color: #F082AC;
}

.disconnectButton:hover {
  background-color: #fff;
}

.disconnectButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media only screen and (max-width: 667px) {
  .grid-item {
    text-align: center;
    margin: auto;
    gap: 0px;
    display: grid;
    grid-template-columns: repeat(10, 0fr);
    grid-auto-rows: minmax(7px);
    grid-auto-columns: 10;
  }
  #double-grid-container {
    display: flex-box;
    justify-content: space-evenly;
  }
}
