body {
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
  background-image: url("../assets/floor1.jpg");
}

button {
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
}

#h1-battle-cats {
  text-align: center;
  font-size: xx-large;
  padding: 10px;
  background-color: aliceblue;
  margin: 10px;
}

#message-container {
  display: flex;
  justify-content: center;
}

.map-h2s {
  text-align: center;
  font-size: x-large;
  background-color: aliceblue;
  padding: 10px;
}

#double-grid-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.grid-container {
  height: auto;
  width: 520px;
  border-radius: 30px;
  margin: 20px;
}

#opp-rug {
  background-image: url("../assets/rug1.png");
}

#my-rug {
  background-image: url("../assets/rug2.jpg");
}

.grid-row {
  text-align: center;
  margin: auto;
  gap: 0px;
  display: grid;
  grid-template-columns: repeat(10, 0fr);
  grid-auto-rows: minmax(10px);
  grid-auto-columns: 10;
}

.grid-item {
  padding: 0;
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  color: rgb(8, 4, 15);
}

.grid-item:hover {
  background-color: rgb(174, 174, 174);
}

.selected-grid-item {
  padding: 0;
  height: 50px;
  width: 50px;
  border: 1px solid grey;
  background-color: grey;
}

.grid-item {
  background-color: rgb(161, 212, 212);
}

.miss {
  background-color: rgba(240, 255, 255, 0);
  pointer-events: none;
}

.carrier {
  background-color: rgb(252, 189, 0);
}

.battleship {
  background-color: rgb(98, 158, 38);
}
.cruiser {
  background-color: rgba(9, 46, 230, 0.927);
}

.sub {
  background-color: rgb(172, 53, 150);
}
.destroyer {
  background-color: rgb(239, 239, 16);
}

.hit {
  background-color: red;
  pointer-events: none;
}

/* A: "carrier",
a: "carrierhit",
B: "battleship",
b: "battleshiphit",
C: "cruiser",
c: "cruiserhit",
D: "sub",
d: "sub hit",
E: "destroyer",
e: "destroyerhit",
0: "ocean",
1: "miss" */
