#grid-and-h2-cont {
  display: flex;
  flex-direction: column;
  align-items: center;

  #grid-cont {
    margin-top: 1%;
    margin-bottom: 1%;
    border: 10px double rgb(84, 127, 84);
  }
}

.ship-container {
  border: 10px double rgb(84, 127, 84);
  border-radius: 20px;
}

h2 {
  text-align: center;
  font-size: x-large;
  background-color: rgb(134, 155, 99);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
}

.set-board-btn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  margin-top: 5px;
  margin-right: 20px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
/* 
@media only screen and (max-width: 667px) {
  #grid-and-h2-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    text-align: center;
    font-size: medium;
    background-color: rgb(134, 155, 99);
    padding: 5%;
    margin: 4%;
    border-radius: 40px;
  }
} */
